.img-responsive{
    border-radius: 50%;
}
.name{
    font-family: UniversalBold;
    font-size: 14px;
    color: #0E141A;
}
.date{
    font-family: UniversalRegular;
    font-size: 12px;
    color: #667790;
}