.box-shadow{
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #C2CDDD;

    .notes-container{
        height: 485px;
        overflow-y: auto;
    }
    .add-note-container {
        height: 110px;
        padding: 0.625rem 1.25rem 0;
        background-color: #EFF2F7;
    }
}